<!-- Main Header -->
<div class="container-fluid" style="background-color: #f1f3ff">
  <div class="container">
    <div class="row py-5 g-5">
      <div class="col-md-6 my-auto ju" style="text-align: justify">
        <h1>Sewa & Rental Mobil Terbaik di kawasan (Lokasimu)</h1>
        <p>
          Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas
          terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu
          untuk sewa mobil selama 24 jam.
        </p>
      </div>
      <div class="col-md-6">
        <img src="Image/img_car.png" alt="Image Car" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<!-- Search Box -->
<div class="container pt-4">
  <div class="row d-flex justify-content-center">
    <div
      class="col-md-10"
      style="background-color: #f1f3ff; border-radius: 10px"
    >
      <form
        class="p-3"
        role="search"
        id="search-submit"
        action="/rent-car"
        method="post"
      >
        <div class="row g-2 align-items-end d-flex justify-content-around">
          <div class="col-md-3">
            <!-- tanggal -->
            <div class="row">
              <div class="col-md-12">
                <label for="date" class="form-label">Tanggal</label>
              </div>
            </div>

            <div class="col-md-12">
              <input id="date" type="date" class="form-control" name="date" />
            </div>
          </div>
          <div class="col-md-3">
            <!-- waktu jemput -->
            <div class="row">
              <div class="col-md-12">
                <label for="waktu-jemput" class="form-label"
                  >Waktu Jemput</label
                >
              </div>
              <div class="col-md-12">
                <select id="waktu-jemput" class="form-select" name="time">
                  <option value="08:00">08:00 WIB</option>
                  <option value="09:00">09:00 WIB</option>
                  <option value="10:00">10:00 WIB</option>
                  <option value="11:00">11:00 WIB</option>
                  <option value="12:00">12:00 WIB</option>
                  <option value="13:00">13:00 WIB</option>
                  <option value="14:00">14:00 WIB</option>
                  <option value="15:00">15:00 WIB</option>
                  <option value="16:00">16:00 WIB</option>
                  <option value="17:00">17:00 WIB</option>
                  <option value="18:00">18:00 WIB</option>
                  <option value="19:00">19:00 WIB</option>
                  <option value="20:00">20:00 WIB</option>
                  <option value="21:00">21:00 WIB</option>
                  <option value="22:00">20:00 WIB</option>
                </select>
              </div>
            </div>
          </div>
          <!-- jumlah penumpang -->
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12">
                <label for="total-passanger" class="form-label"
                  >Jumlah Penumpang (optional)</label
                >
              </div>
            </div>
            <div class="col-md-12">
              <input
                type="number"
                name="totalPassanger"
                id="total-passanger"
                class="form-control"
                value=""
              />
            </div>
          </div>
          <div class="col-auto">
            <div class="row">
              <div class="col-md-12">
                <button
                  class="btn mt-2"
                  type="submit"
                  style="
                    background-color: #5cb85f;
                    color: white;
                    font-weight: 500;
                  "
                >
                  Cari Mobil
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- sort by -->
<div class="container pt-3">
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <% if (typeof data !== 'undefined') { %>
      <label class="form-label" for="sortByYear">Urutkan Tahun</label>
      <select id="sortByYear" name="sortByYear" class="form-select">
        <option value="paling-sesuai" selected>Paling sesuai</option>
        <option value="terbaru">Terbaru</option>
        <option value="terlama">Terlama</option>
      </select>

      <% } %>
    </div>
  </div>
</div>
<!-- Card Car -->
<div class="container-fluid py-4">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <div class="row" id="card-car">
          <!-- Card Content -->
          <% if (typeof data !== 'undefined' ) { %> <% data.forEach(car => { %>
          <div class="col-md-4 p-1 d-flex">
            <div class="card flex-fill">
              <img
                src="<%= car.image %>"
                class="card-img-top p-4"
                alt="car sample"
              />
              <div class="card-body d-flex flex-column">
                <p style="font-weight: 500"><%= car.model %></p>
                <h5 class="card-title"><%= car.rentPerDay %></h5>
                <p class="card-text"><%= car.description %></p>
                <p>
                  <span
                    ><img
                      src="Icons/icon_jumlahOrang.png"
                      alt="icon jumlah orang"
                  /></span>
                  <%= car.capacity %> Orang
                </p>
                <p>
                  <span
                    ><img
                      src="Icons/icon_Spesifikasi.png"
                      alt="icon spesifikasi"
                  /></span>
                  <%= car.transmission %>
                </p>
                <p>
                  <span><img src="Icons/icon_date.png" alt="icon date" /></span>
                  Tahun <%= car.year %>
                </p>
                <div class="mt-auto">
                  <a
                    href="#"
                    class="btn btn-success d-flex flex-fill justify-content-center"
                    style="
                      background-color: #5cb85f;
                      font-weight: 500;
                      color: white;
                    "
                    >Pilih Mobil</a
                  >
                </div>
              </div>
            </div>
          </div>
          <% }); %> <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if (typeof data !== 'undefined') { %>
<div id="jsonStringify" style="display: none"><%= JSON.stringify(data) %></div>
<% } %>

<script>
  let data = JSON.parse(document.getElementById("jsonStringify").textContent);
  let data2 = [...data];
  const cardCars = document.getElementById("card-car");
  const sortByYear = document.getElementById("sortByYear");

  printSortByYear = (carsData) => {
    let printSearchCarCard = "";
    carsData.map((car) => {
      printSearchCarCard += `<div class="col-md-4 p-1 d-flex">
            <div class="card flex-fill">
              <img
                src="${car.image}"
                class="card-img-top p-4"
                alt="car sample"
              />
              <div class="card-body d-flex flex-column">
                <p style="font-weight: 500">${car.model}</p>
                <h5 class="card-title">${car.rentPerDay}</h5>
                <p class="card-text">${car.description}</p>
                <p>
                  <span
                    ><img
                      src="Icons/icon_jumlahOrang.png"
                      alt="icon jumlah orang"
                  /></span>
                  ${car.capacity} Orang
                </p>
                <p>
                  <span
                    ><img
                      src="Icons/icon_Spesifikasi.png"
                      alt="icon spesifikasi"
                  /></span>
                  ${car.transmission}
                </p>
                <p>
                  <span><img src="Icons/icon_date.png" alt="icon date" /></span>
                  Tahun ${car.year}
                </p>
                <div class="mt-auto">
                  <a
                    href="#"
                    class="btn btn-success d-flex flex-fill justify-content-center"
                    style="
                      background-color: #5cb85f;
                      font-weight: 500;
                      color: white;
                    "
                    >Pilih Mobil</a
                  >
                </div>
              </div>
            </div>
          </div>`;
    });
    cardCars.innerHTML = printSearchCarCard;
  };

  sortByYear.addEventListener("change", (event) => {
    if (sortByYear.value == "terbaru") {
      printSortByYear(data.sort((car1, car2) => car2.year - car1.year));
    } else if (sortByYear.value == "terlama") {
      printSortByYear(data.sort((car1, car2) => car1.year - car2.year));
    } else {
      printSortByYear(data2);
    }
  });
</script>
